@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
	font-family: "GothamPro";
	font-weight: lighter;
  /* color: #c02f28; */
}

.body-con {
  height: 100vh;
}

.img-icon {
  display: flex;
  align-items: center;
}

.title-tag {
  font-size: 4rem;
  margin: 0;
}

p, span {
  font-size: 30px;
  font-weight: 100;
  /* font-family: 'Montserrat', sans-serif; */
  color: #250907;
}

input.name {
	font-size: 20px;
	width: 100%;
  font-weight: 100;
  /* font-family: 'Montserrat', sans-serif; */
  border: 0;
  /* font-style: italic; */
  /* font-weight: 400; */
	border-bottom: 2px solid #c02f28;
	outline: none !important;
	box-shadow: none !important;
	text-align: center;
}

input.name::placeholder{
	text-align: center;
}

.select-dropdown {
  position: relative;
  background-color: transparent;
  width: auto;
  float: left;
  max-width: 100%;
  border-radius: 2px;
	text-align: center;
  border-bottom: 2px solid #c02f28;
}

.select-dropdown:after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -2px;
	text-align: center;
  right: 8px;
  width: 0;
  height: 0;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 2px solid #c02f28;
}

.select-dropdown select {
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 20px;
	width: 100%;
	text-align-last: center;
	text-align: center;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	outline: none !important;
	box-shadow: none !important;
}

.select-dropdown select:active,
.select-dropdown select:focus {
  outline: none;
  box-shadow: none;
	text-align: center;
}

.conc{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
}

#btn-give{
  /* font-family: 'Montserrat', sans-serif; */
	color: #fff;
	background-color: #c02f28;
}

footer span{
	font-size: 13px;
}

footer{
	background-color: #2a2b34;
	color: #fff;
}
label{
	display: none !important;
	margin-bottom: 0;
}


h2 {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #000;
	line-height: 0.1em !important;
	margin: 10px 0 20px;
}

h2 span {
	background:#fff;
	font-weight: 400;
	color: #c02f28;
	font-size: 16px !important;
	padding:0 10px;
}

.form-group {
  margin-bottom: 0rem !important;
}
